{% extends 'blank.html' %}
{% block body %}
<div class="container">
    <h3>{{ page_title }}</h3>
    <form method="POST" action="{{ url_for('translator.translator_func') }}">
      {{ form.hidden_tag() }}
      <div class="input-field">
        <textarea id="textarea1" name="text" class="materialize-textarea"></textarea>
        <label for="textarea1">{{ form.text.label }}</label>
      </div>
      <br><br>
      <div>
        {{ form.translation.label }}
        {{ form.translation (class='materialize-textarea', readonly=True) }}
      </div>
      <br>
      {{ form.submit }}
      <br><br>
    </form>
  </div>

{% endblock %}