{% extends 'blank.html' %}
{% block body %}
<div class="container">
   <table>
        <thead>
          <tr>
              <th>Название</th>
              <th>Буква</th>
              <th>Звук</th>
              <th>Озвучка</th>
          </tr>
        </thead>
       <tbody>
       {% for letter in 'abcdefghijklmnopqrstuvwxyz' %}
            <tr>
            <td style="width:15%">[{{ alphabet[letter]['name'] }}]</td>
            <td style="color:DodgerBlue; font-size:200%;font-family:Arial;">{{ alphabet[letter]['char_upper'] }}{{ alphabet[letter]['char_lower'] }}</td>
            <td>{{ alphabet[letter]['sound'] }}</td>
            <td>
                <button
                        class="playButton material-icons"
                        id={{ letter }}
                        type="button"
                        style="background-color: transparent; border: 0px; color:rgb(67, 160, 71); font-size:300%;">
                play_circle_filled</button>
            </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
</div>
<br>
<br>
<br>
<br>
<script src="{{ url_for('static', filename='js/voiceover_script.js') }}"></script>

{% endblock %}
