<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{{ page_title }}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="card blue lighten-4">
      <div class="card-content">
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endwith %}
  <nav class="green lighten-1" role="navigation">
<body style="background-color:LightGoldenRodYellow">
  {% with messages = get_flashed_messages() %}
            {% if messages %}
          <div class="alert alert-info" role="alert">
          {% for message in messages %}
            {{ message }}<br>
          {% endfor %}
          </div>
          {% endif %}
            {% endwith %}
  <nav class="green darken-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">LearnEnglish</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/" style="font-size:125%">Главная</a></li>
        <li><a href="/alphabet" style="font-size:125%">Алфавит</a></li>
        <li><a href="/syllables" style="font-size:125%">Слоги</a></li>
        <li><a href="/register" style="font-size:125%">Зарегистрироваться</a></li>
        <li><a href="/login" style="font-size:125%">Войти</a></li>
        <li><a href="/logout" style="font-size:125%">Выйти</a></li>
        <li><a href="/admin" style="font-size:125%">Админка</a></li>
      </ul>
      <ul id="nav-mobile" class="sidenav green darken-1">
        <br>
        <li><a href="/" style="color:White; font-size:150%">Главная</a></li>
        <li><a href="/alphabet" style="color:White; font-size:150%">Алфавит</a></li>
        <li><a href="/syllables" style="color:White; font-size:150%">Слоги</a></li>
        <li><br></li>
        <li><a href="/register" style="color:White; font-size:150%">Зарегистрироваться</a></li>
        <li><a href="/login" style="color:White; font-size:150%">Войти</a></li>
        <li><a href="/logout" style="color:White; font-size:150%">Выйти</a></li>
        <li><a href="/admin" style="color:White; font-size:150%">Админка</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <br><br>
{% block body %}

{% endblock %}
  <footer class="page-footer green darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="/">Link</a></li>
            <li><a class="white-text" href="/">Link</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="/">Link</a></li>
            <li><a class="white-text" href="/">Link</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="red-text text-lighten-3" href="/">???</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
  <script src="{{ url_for('static', filename='js/init.js') }}"></script>

  </body>
</html>
