{% extends "blank.html" %}
{% block body %}
<div class="container">
    <h3>{{ page_title }}</h3>
    <div class="row">
        <div class="col-6">
        <form action="" method="POST">
            {{ reset_form.hidden_tag() }}
            <div class="input-field">
                {{ reset_form.password1.label }}<br>{{ reset_form.password1() }}
            </div><br>
            <div class="input-field">
                {{ reset_form.password2.label }}<br>{{ reset_form.password2() }}
            </div><br>
            {{ reset_form.submit }}
        </form>
        </div>
    </div>
</div>
{% endblock %}