{% extends 'blank.html' %}
{% block body %}
<div class="container">
    <h3>{{ page_title }}</h3>
    <p>{{ user.name }}, перед тобой будет появляться случайное слово на английском языке,</p>
    <p>в соответствующем поле ниже введи перевод этого слова.</p>
    <br><br><br>
    <h4>{{ random_word }}</h4>
    <form action="{{ url_for('content.task_words') }}" method="POST">
        {{ form.csrf_token }}
        <div class="input-field">
            {{ form.translation.label }}<br>
            {{ form.translation(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-success") }}
    </form>
    <br><br>
</div>
{% endblock %}