{% extends "email/email.html" %}
{% block body %}
<div class="container">
    <h1>Восстановление пароля</h1>
    <p>Здравствуйте {{ user.name }}! Вы получили это письмо, так как хотите восстановить пароль от своего</p>
    <p>аккаунта на LearnEnglish. Если Вы не делали запрос на восстановление</p>
    <p>пароля, просто проигнорируйте это письмо.</p>
    
    <p>
        Для изменения пароля перейдите по ссылке:
    </p>
    <a href="{{ url_for('users.reset_password', token=token, _external=True) }}">Восстановить пароль</a>
</div>
{% endblock %}