{% extends "email/email.html" %}
{% block body %}
<body>
    <div class="container">
        <h1>Welcome to Our Website!</h1>
        <p>Hello {{ user.name  }},</p>
        <p>We are glad to welcome you to the Learn English website.</p>
        <p>Start learning English right now!</p>
        <p>Click the button below to get started:</p>
        <br>
        <p>Ты пока не можешь прочесть то, что написано выше!? Не беда! Ты в правильном направлении!</p>
        <p>Скорее приступай к изучению английского языка вместе с нами!</p>
        <p>Жми на кнопку!</p>
        <a href="http://127.0.0.1:5000" class="btn">Get Started</a>
    </div>
{% endblock %}
</body>
</html>
