<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Alphabet</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css//style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body class="grey lighten-1">

<div class="row">
    <div class="col s12 grey darken-4 center"><h3 class="white-text">Название сайта</h3></div>
</div>
<div class="row">
    <div class="col s4 grey darken-3 center"><a href="/"><h6 class="white-text">Главаня</h6></a></div>
    <div class="col s4 grey darken-3 center"><a href="/alphabet"><h6 class="white-text">Алфавит</h6></a></div>
    <div class="col s4 grey darken-3 center"><a href="/syllables"><h6 class="white-text">Слоги</h6></a></div>
</div>

<div class="row">
    <div class="col s12 white center"><h6 class="">Тут будет выводиться какая-то информация / алфавит</h6></div>
    <div>

  <!--  Scripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  </body>
</html>
